/*******************************
RESETS
*******************************/

html {
 box-sizing: border-box;
 color: #444;
 font: 12pt 'Open Sans';
 font-weight: 300;
}

*, *::before, *::after {
 box-sizing: inherit;
 color: inherit;
}

/*******************************
DEFAULTS
*******************************/
* {
text-decoration: none;
font-family: Courier;
}

hr {
  border: 1.75px solid #7FBBC5;
  width: 130px;
}

h1 {
  text-align: center;
}

a {
  padding: 10px;
  padding-top: 5px;
}

nav {
  position: fixed;
  top: 15px;
  right: 10px;
}

.panel > div {
  width: 1000px;
  min-height: 500px;
  margin: auto;
  /*background-color: blue;*/
}

/*******************************
LAYOUT
*******************************/


.hero {
  background: radial-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .2)), url("one.png");
  background-size: cover;
  color: #FFFFFF; 
}


.primary-header {
  height: 130px;
  position: relative;
}

.login {
  width: 60px;
  padding-top: 10px;
  margin-top: 0px;
  margin-left: 10px;
  background-color: transparent;
}

.login > button {
  position: fixed;
  background: transparent;
  width: 100px;
  font-size: 12pt;
  color: #FFFFFF;
  border-radius: 4px;
  border: 1.5px solid #FFFFFF;
}

.pagename-header {
  text-align: center;  
}

.pagename-header h1 {
  font-size: 110pt;
  margin-bottom: 0px;
}

.pagename-header p {
  font-size: 16pt;
}

.fa-chevron-circle-down {
  margin-top: 40px;
}

.fa-chevron-circle-down p {
  font-size: 10pt;
  background: transparent;
  margin-top: 5px;
}




.about-us > div {
  text-align: center;
}

.about-us h1 {
  font-size: 60px;
}

.about-us h3 {
  color: #797979;
  font-size: 25px;
}

.tile {
  vertical-align: top;
  display: inline-block;
  /*background-color: green;*/
  color: #7FBBC5;
  width: 200px;
  margin: 60px;
}
.tile > p {
  text-align: middle;
  padding: 10px;
  font-size: 18px;
}




/***********************SERVICES**********************/

.services {
  background-color: #F5F5F5;
}

.services > div {
  text-align: center;
}

.services h1 {
  font-size: 60px;
  padding-top: 40px;
}

.services .breakout {
  background-color: white;
  display: inline-block;
  width: 160px;
  margin: 60px;
}

.breakout > img {
  border-bottom: 6px solid #F5F5F5;
}

.title {
  margin: -4px;
}

.fa-graduation-cap, .fa-car, .fa-university {
  /*padding-top: 5px;*/
  color: #666666;
  background-color: #F5F5F5;
  border: 7px solid transparent;
  border-bottom-left-radius: 36px;
  border-bottom-right-radius: 36px;
}
/***********************SERVICES**********************/


.testimonials {
  margin-top: 20px;
  padding-top: 20px;
}

.testimonials h1 {
  font-size: 60px;
}

.endorse img {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  border: 3px solid #7FBBC5;
}

.endorse p {
  min-height: 40px;
  width: 108px;
  border: 1px solid transparent;
  font-family: Courier bold;
  font-weight: bold;
  font-size: 14px;
  color: #7FBBC5;
}

.endorse:nth-child(even) {
  display: inline-block;
  margin-left: 40px;
  margin-top: 40px;
  vertical-align: top;
}

.endorse:nth-child(odd) {
  display: inline-block;
  margin-left: 40px;
  margin-top: 140px; 
}

span {
  font-size: 20px;
  font-weight: lighter;
}


/*******************************
COMPONENTS
*******************************/

/*#trianle {
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-top: 100px solid red;
}*/



/*.page {
  background-color: blue;
}

.view {
  width: 960px;
  margin: auto;
  background-color: pink;
}
.blur {
  margin: auto;
  margin-top: 12%;
  padding: 105px 0px 0px 130px;
  height: 300px;
  width: 470px;
  background-color: rgba(0, 0, 0, .2);
}

.hide {
  border-color: transparent;
}*/
